  body {
  background-color: #F4E9E9;
}

h1 {
  margin-top: 50px;
  margin-left: 50px;
}

h1, p {
  font-family: "Value Serif";
  font-size: 50px;
  color: 000000;
}

#tings {
  margin-left: 600px;
  margin-top: 700px;

}

#tings p {
margin-bottom: -60px;

}
